@model PURIS_FLASH.Models.ViewModel.UsersViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*BoxIcons: Se usa para poder usarlo como un font, para poder cambiarle de color*@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>

    body {
        margin: 0;
        padding: 0;
        color: white; /* Cambia el color del texto a blanco */
        overflow: hidden; /* Evita el scroll en la vista */
        /*background-image: url('../../content/Images/arte.png');*/
        background-size: cover;
        background-position: center;
        background-color: black;
    }


    .body-content {
        min-width: 100%;
        margin-top: 15px;
    }


    #background-video1 { /*------ ESTILOS PARA EL VIDEO O LOS VIDEOS     */
        position: fixed;
        top: 0;
        WIDTH: 25%;
        left: 531px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 15% 12% 6% round 15px);
        object-position: 43%;
    }

    #background-video2 { /*------ ESTILOS PARA EL VIDEO O LOS VIDEOS     */
        position: fixed;
        top: 0;
        WIDTH: 25%;
        left: 71px;
        max-width: 72%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 0% 50% 10% round 15px);
        object-position: 4%;
    }


    #background-video3 { /*------ ESTILOS PARA EL VIDEO O LOS VIDEOS     */
        position: fixed;
        top: 0;
        WIDTH: 25%;
        right: 486px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 11% 12% 0% round 15px);
        object-position: 79%;
    }


    #background-video4 { /*------ ESTILOS PARA EL VIDEO O LOS VIDEOS     */
        position: fixed;
        top: 0;
        WIDTH: 25%;
        left: 1373px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 0% 50% 3% round 15px);
        object-position: 115%;
    }



    .container-login {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(0 0 0 / 73%);
        padding: 40px;
        border: inset;
        border-radius: 10px;
        width: 300px; /* Adjust width as needed */
        max-width: 100%;
        text-align: center;
    }

    .form-control {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px;
        font-family: Staatliches;
        flex: 1; /* Make the input take up the remaining space */
    }

        .form-control::placeholder {
            color: white;
        }

    .boton-IS,
    .boton-RG {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 25px;
        font-family: Staatliches;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        width: 100%; /* Buttons take full width */
    }

    .boton-IS:hover,
    .boton-RG:hover {
        background-color: white;
        color: black;
    }


</style>


<!--VIDEOS PARA LA PORTADA -->
<video autoplay muted loop id="background-video1">
    <source src="../../content/Images/puriscal.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>



<video autoplay muted loop id="background-video2">
    <source src="../../content/Images/puriscal.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>


<video autoplay muted loop id="background-video3">
    <source src="../../content/Images/puriscal.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>


<video autoplay muted loop id="background-video4">
    <source src="../../content/Images/puriscal.mp4" type="video/mp4">
    Tu navegador no soporta el elemento de video.
</video>





<!--VIDEOS PARA LA PORTADA -->




<div class="container-login">
    <div class="login-form">
        <form action="@Url.Action("Login", "Login")" method="post">
            <h2 style="margin-top:10%;">Iniciar sesión</h2>

            <div id="login-container" style=" margin-top:5%; display:flex; flex-direction:column; justify-content:space-around; align-items:center;">
                
                <div id="username-container" class="input-group" style="margin-bottom: 5%;">
                    <span class="input-group-text"><i class='bx bxs-user'></i></span>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                </div>


                <div id="password-container" class="input-group">
                    <span class="input-group-text"><i class='bx bxs-lock-open-alt'></i></span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>

                <input type="submit" value="Ingresar" class="boton-IS" style="margin-top:20%;">
                <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Register/Create")'">Crear cuenta</button>
            </div>
            

            <br>


            <p style="color: red;">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    @ViewBag.ErrorMessage
                }
            </p>
        </form>
    </div>
</div>

<script>
            /*este script permite la rotacion de las imagenes del login sin perder el formato definido en el container*/

            var currentIndex = 0;

            function rotateBackgroundImage() {
                currentIndex = (currentIndex + 1) % images.length; // moverse a la siguiente imagen
                var imageUrl = images[currentIndex];
                document.querySelector('.background-container').style.backgroundImage = 'url(' + imageUrl + ')';
            }

            setInterval(rotateBackgroundImage, 3000); // rotar cada 3 segundos y se pueden definir otros intervalos

            window.onload = function () {//Acciones a ejecitar una vez que la pagina carga

                google.accounts.id.initialize({
                    client_id: '80683042380-k970d3dvshehfrs19t4ng07fhki94f8c.apps.googleusercontent.com',//Obtenido desde el Google developer console
                    callback: handleCredentialResponse,
                    scope: 'openid profile email' // Solicitar permiso acceso al perfil y correo electrónico del usuario
                });
                google.accounts.id.renderButton(
                    document.getElementById('google-signin-button'),
                    { theme: 'filled_blue', size: 'large' }
                );
            };

            function handleCredentialResponse(response) {
                const token = response.credential;

                // Separar el token  JWT recibido en  partes (encabezado, cuerpo y firma)
                const [encodedHeader, encodedPayload, signature] = token.split('.');

                try {
                    // Decodificar las partes Base64 utilizando atob
                    const decodedHeader = atob(encodedHeader);
                    const decodedPayload = atob(encodedPayload);

                    // Parsea el cuerpo decodificado como JSON para obtener los datos
                    const payloadData = JSON.parse(decodedPayload);

                    // Verificar si el token contiene la propiedad email y name
                    if (payloadData && payloadData.email && payloadData.name) {
                        const userEmail = payloadData.email;
                        const userName = payloadData.name;
                        console.log('Correo almacenado:', userEmail);

                        // Dividir el nombre en nombre, primer apellido y segundo apellido
                        const [nombre, primerApellido] = userName.split(' ');

                        console.log('Nombre:', nombre);
                        console.log('Primer Apellido:', primerApellido);



                        $.ajax({
                            url: '@Url.Action("usuarioExiste", "Login")',
                            type: 'POST',
                            data: { email: userEmail },
                            success: function(data) {
                                if (data === "0") {

                                    var respuesta = confirm("Usuario no registrado en plataforma, presione Aceptar para registrarlo y continuar");
                                    if (respuesta) {
                                        alert("Registrando usuario..." + nombre);

                                        $.ajax({
                                                 url: '@Url.Action("CreateAPI", "Login")',
                                                 type: 'POST',
                                                 data: {
                                                    nombre: nombre,
                                                    primerApellido: primerApellido,
                                                    userEmail: userEmail
                                                  },
                                                  success: function (data) {

                                                      if (data == 0) {

                                                          window.location.href = "/Home/index";
                                                      } else {
                                                          window.location.href = "/Login/Login";
                                                      }

                                                },
                                                error: function (error) {
                                                console.error("Error: ", error);
                                                }
                                        });



                                    } else {
                                        alert("Ha cancelado el ingreso por Google API, redireccionando...");
                                        window.location.href = "/Login/Login";
                                    }


                                 } else {
                                    window.location.href = "/Home/index";
                                }
                            },
                            error: function(error) {
                                console.error("Error: ", error);
                            }
                        });
                    } else {
                        console.log('No se encontró el correo electrónico o el nombre en el token JWT.');
                    }
                } catch (error) {
                    console.error('Error al decodificar el token JWT:', error.message);
                }
            }

//********************************************************************************************************* */

//******************************************************************************************************** */


        //Borra cualquier dato almacenado para que pida inicio de sesion todas las veces
        localStorage.clear();
        sessionStorage.clear();


</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
