@model PURIS_FLASH.Models.ViewModel.UsersViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>




    #background-video1 {
        position: fixed;
        top: 0;
        width: 25%;
        left: 531px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 15% 12% 6% round 15px);
        object-position: 43%;
    }

    @@keyframes clipPathAnimation {
        from {
            clip-path: inset(16% 15% 22% 6% round 15px);
        }
        to {
            clip-path: inset(16% 15% 0% 6% round 15px);
        }
    }

    .animated-video1 {
        animation: clipPathAnimation 3s forwards;
    }

    #background-video3 {
        position: fixed;
        top: 0;
        width: 25%;
        right: 491px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 11% 12% 0% round 15px);
        object-position: 79%;
    }

    @@keyframes video3 {
        from {
            clip-path: inset(16% 11% 12% 0% round 15px);
        }
        to {
            clip-path: inset(0% 11% 12% 0% round 15px);
        }
    }

    .animated-video3 {
        animation: video3 3s forwards;
    }

    #background-video4 {
        position: fixed;
        top: 0;
        width: 25%;
        left: 1373px;
        max-width: 70%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
        clip-path: inset(16% 0% 12% 3% round 15px);
        object-position: 115%;
    }

    @@keyframes video4 {
        from {
            clip-path: inset(16% 0% 12% 3% round 15px);
        }
        to {
            clip-path: inset(16% 0% 0% 3% round 15px);
        }
    }

    .animated-video4 {
        animation: video4 3s forwards;
    }

    .container-login {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        position: absolute;
        top: 11%;
        margin-right: 36%;
        right: 39%;
        background: rgba(255, 255, 255, 0.1); /* Fondo blanco transparente para efecto glassy */
       
        backdrop-filter: blur(8.5px); /* Filtro de desenfoque para el efecto glassy */
        -webkit-backdrop-filter: blur(8.5px); /* Soporte para Webkit */
        border-radius: 10px; /* Bordes redondeados */
        border: 1px solid rgba(255, 255, 255, 0.18); /* Borde blanco transparente */
        padding: 40px;
        text-align: center;
    }

    .form-control {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Staatliches;
        border-radius: 25px;
    }

    .form-control::placeholder {
        color: white;
    }


    .boton-IS,
    .boton-RG {
        font-size: large;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 25px;
        font-family: Staatliches;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        display: inline-block;
    }

        .boton-IS:hover,
        .boton-RG:hover {
       
            background-color: crimson;
            color: white;
            box-shadow: 0 0 25px 10px rgb(255 0 51 / 80%);
        }


       body {
       margin: 0;
       padding: 0;
       color: white;
       overflow: hidden;
       background-image: none;
       background-color: black; 
       background-image: url('@Url.Content("~/Content/images/Fondodiagonal.jpg")');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       background-attachment: fixed;
       background-color: black;
       position: relative;
   }

   .body-content {
       min-width: 100%;
       margin-top: 15px;
   }


    .logo {
        margin: auto;
        align-items: center;
        height: auto;
        width: 100%;
        display: flex;
        max-height: 290px;
        max-width: 261px;
    }

    /* BOTON PARA EL LOGIN */ 





</style>

<div class="main-container">
    
        <div class="contenedor-videos" >
            <video autoplay muted loop id="background-video1" class="animated-video1">
                <source src="../../content/Images/puriscal.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>

            <video autoplay muted loop id="background-video3" class="animated-video3">
                <source src="../../content/Images/puriscal.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>

            <video autoplay muted loop id="background-video4" class="animated-video4">
                <source src="../../content/Images/puriscal.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
       

        <div class="container-login">
            <div class="login-form">
                <img src="@Url.Content("~/Content/images/LOGO.png")" alt="Logo PurisFlash" class="logo">
                <form action="@Url.Action("Login", "Login")" method="post">
                    <h2>Iniciar sesión</h2>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required> 


                    <input type="submit" value="Ingresar" class="boton-IS">  



                    <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Register/Create")'">Crear cuenta</button>
                    <br>
                    <p style="color: red;">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            @ViewBag.ErrorMessage
                        }
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
