<!-- ESTE VIEW ES COMO EL PRINCIPAL , EL DEFAULT , CUALQUIER COSA QUE LE HAGAMOS AQUI SE VA A VER EN LA MAYORIA DE PAGINAS -->



@using PURIS_FLASH.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
    var usuario = Session["UsuarioActual"] as UsersViewModel; // NECESARIO PARA JALAR LA INFORMACOIN DEL USUARIO


}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    /* Font */
    @@font-face {
        font-family: 'puris';
        src: url('@Url.Content("~/Content/Font/62Dragz-vmAp9.otf")') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @@font-face {
        font-family: 'body';
        src: url('@Url.Content("~/Content/Font/Roboto-Regular.otf")') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    body, a {
        font-family: 'body' !important;
    }

    /* Aplicando la fuente personalizada */
    .titulo-esquina {
        font-family: 'puris';
        width: min-content;
        margin-left: 0;
        text-decoration: none;
        color: white !important;
        z-index: 2;
    }

    .carrito-icono {
        margin-right: 33px;
    }

    .bg-light {
        --bs-bg-opacity: 0;
    }

    .rounded-circle {
        border-radius: 50% !important;
        background-color: transparent !important;
    }

    a {
        color: white !important;
    }

    .d-flex align-items-center {
        flex-direction: column;
        align-items: center;
    }

    .boton-KREAM {
        text-decoration: none;
        font-weight: 900;
        margin: 10px;
    }

    .tipo-usuario {
        flex-direction: row-reverse !important;
    }

    .button-49,
    .button-49:after {
        height: auto;
        width: 60px;
        line-height: 78px;
        font-size: 20px;
        font-family: 'Bebas Neue', sans-serif;
        background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        box-shadow: 6px 0px 0px #00E6F6;
        outline: transparent;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-49:after {
            --slice-0: inset(50% 50% 50% 50%);
            --slice-1: inset(80% -6px 0 0);
            --slice-2: inset(50% -6px 30% 0);
            --slice-3: inset(10% -6px 85% 0);
            --slice-4: inset(40% -6px 43% 0);
            --slice-5: inset(80% -6px 5% 0);
            content: 'S A L I R';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
            text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
            clip-path: var(--slice-0);
        }

        .button-49:hover:after {
            animation: 1s glitch;
            animation-timing-function: steps(2, end);
        }

    @@keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }

        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }

        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }

        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }

        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }

        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }

        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }

        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }

        80% {
            clip-path: var (--slice-5);
            transform: translate(20px, -10px);
        }

        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }

        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
    }

    @@media (min-width: 768px) {
        .button-49,
        .button-49:after {
            width: 200px;
            height: 86px;
            line-height: 88px;
        }
    }

    .button-49-fix {
        height: auto !important;
        width: 20% !important;
    }

    /*CLASE PRINCIPAL DEL NAV BAR */

    .navbar {
        background-color: #c32424;
        color: white;
    }

    .navbar-toggler {
        background-color: #1c8454;
    }

    .navbar-toggler-icon {
        background-color: #1c8454;
    }

    .navbar-nav .nav-link {
        color: white;
    }

    .dropdown-menu {
        background-color: #1c8454;
    }

        .dropdown-menu .dropdown-item {
            color: white;
        }

    .navbar-nav .nav-link:hover {
        background-color: #1c8454;
    }

    .contador-carrito {
        font-size: large !important;
        background-color: transparent !important;
        position: absolute !important;
        margin-left: 24px;
        top: 2px;
        text-align: center;
        width: 30px;
    }

    .dropdown-menu {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

        .dropdown-menu .dropdown-item {
            color: #333;
        }

            .dropdown-menu .dropdown-item:hover {
                background-color: #54c47c;
            }

    .dropdown-divider {
        border-top-color: #ddd;
    }

    .navbar-nav {
        justify-content: space-between;
    }

    .admin-options {
        display: flex;
        justify-content: center;
    }

    .logo {
        margin-left: 32px;
        display: flex;
        width: 100px;
        height: 80px;
        z-index: 2;
    }

    .titulo-esquina {
        margin-left: 64px;
        text-decoration: none;
        color: white !important;
        z-index: 2;
    }

    .contact {
        position: absolute;
        width: 27.2%;
        z-index: 0;
        height: 100%;
        background: linear-gradient(to right, black 50%, #29242300 50%);
    }

    .diagonal {
        margin-left: 50%;
        border-width: 80px 200px 0px 0px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    /* On Hover para settings con iconitos */
    .tipo-usuario {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-item-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .tipo-usuario .nav-item {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
        border-radius: 5px;
    }

        .tipo-usuario .nav-item i {
            margin-right: 5px;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        .tipo-usuario .nav-item .nav-link {
            white-space: nowrap;
            text-decoration: none;
            display: inline-block;
            color: white;
        }

        .tipo-usuario .nav-item:hover {
            background-color: white;
            color: black;
        }

            .tipo-usuario .nav-item:hover i {
                color: black;
            }

            .tipo-usuario .nav-item:hover .nav-link {
                color: black !important;
                background-color: transparent !important;
            }

    /* Additional styles for the username display */

    .nombre-usuario {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        font-size: 16px;
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show ellipsis for overflow */
        max-width: 150px; /* Set a maximum width based on your design */
        border: none;
    }

    /* Ensure the dropdown and cart icon are centered with the username */
    .d-flex.align-items-center.ml-auto {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust spacing between cart icon, dropdown, and username */
    }

    /* User button styles */
    #dropdownMenuButton {
        background-color: transparent;
        color: white;
        border: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        #dropdownMenuButton:hover {
            background-color: white;
            color: black;
        }

        #dropdownMenuButton i {
            transition: color 0.3s ease;
        }

        #dropdownMenuButton:hover i {
            color: black;
        }

    /* Dropdown hover effect */
    .dropdown-menu .dropdown-item:hover {
        background-color: #e0e0e0; /* Gray hover effect */
        color: black; /* Change text to black on hover */
    }

</style>





<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/site.css")" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</head>
<body style="padding: 0px">

    @* // Verifica si hay un usuario en sesión *@
    @if (Session["UsuarioActual"] != null)
    {
        @* // Barra de navegación superior *@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="padding-bottom: 0px; padding-top: 0px">

            @* // Sección de contacto (posiblemente decorativa) *@
            <div class="contact hidden-xs">
                <div class="diagonal"></div>
            </div>

            @* // Logo y título de la página *@
            <a class="d-flex align-items-center" href="@Url.Action("Index", "Home")" style="text-decoration:none;">
                <img src="@Url.Content("~/Content/images/LOGO.png")" alt="Logo PurisFlash" class="logo">
                <h3 class="titulo-esquina">PURIS FLASH</h3>
            </a>

            <div class="container" style="font-family: Staatliches">

                @* // Botón para colapsar la barra de navegación en pantallas pequeñas *@
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @* // Opciones de la barra de navegación, dependiendo del tipo de usuario *@
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="tipo-usuario navbar-nav flex-grow-1 boton-por-tipo admin-options">
                        @if (ViewContext.RouteData.Values["controller"].ToString().Equals("Home", StringComparison.OrdinalIgnoreCase)
                            && ViewContext.RouteData.Values["action"].ToString().Equals("Index", StringComparison.OrdinalIgnoreCase))
                        {
                            @* // Opciones para el administrador *@
                            if (ViewBag.TipoUsuario == 1) // ADMIN
                            {
                                <div class="nav-item-container">
                                <li class="nav-item">
                                    <i class='bx bx-edit'></i>@Html.ActionLink("Repartidores", "MostrarInformacion", "Repartidores", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    <i class='bx bx-edit'></i>@Html.ActionLink("Productos", "Index", "Vendedor", new { area = "" }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    <i class='bx bx-edit'></i>@Html.ActionLink("Usuarios", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })
                                </li>
                        </div>
                    }
                    @* // Opciones para el comprador *@
                    else if (ViewBag.TipoUsuario == 2) // COMPRADOR
                    {
                        <li class="nav-item">
                            <i class='bx bx-car'></i>@Html.ActionLink("Repartidores", "Index", "Repartidores", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }
                }
                        </ul>

                        @* // Sección de íconos de carrito y usuario si el usuario está logueado *@
                        @if (Session["UsuarioActual"] != null)
                        {
                            <div class="d-flex align-items-center ml-auto">
                                @* // Ícono de carrito con contador de productos *@
                                <div class="carrito-icono">
                                    <a href="@Url.Action("Index", "Carrito")" class="d-flex align-items-center" style="text-decoration:none;">
                                        @{
                                            var productosEnCarritoIds = new List<int>();
                                            if (!string.IsNullOrEmpty(usuario?.ProductosEnCarrito))
                                            {
                                                productosEnCarritoIds = usuario.ProductosEnCarrito.Split(',').Select(int.Parse).ToList();
                                            }
                                        }
                                        <span id="carritoBadge" class="contador-carrito bg-light text-dark rounded-circle">
                                            @productosEnCarritoIds.Count
                                        </span>
                                        <i class='bx bx-cart' style="font-size:2.5rem; text-decoration:none;"></i>
                                    </a>
                                </div>

                                @* // Ícono de usuario con menú desplegable *@
                                <div class="dropdown">
                                    <button id="dropdownMenuButton" class="btn btn-secondary" aria-expanded="false" style="margin-right: 15px">
                                        <i class='bx bx-user-circle' style="font-size:2rem;"></i> @ViewBag.UserSession
                                    </button>

                                    @* // Opciones del menú desplegable del usuario *@
                                    <ul id="userDropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item mt-2" style="color:black !important" href="@Url.Action("Edit", "User", new { Id = usuario.Id })">Actualizar Perfil</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item mt-2" style="color:black !important" href="@Url.Action("Logout", "Login")">Cerrar sesión</a></li>
                                    </ul>
                                </div>

                                @* // Nombre del usuario logueado *@
                                <p class="nombre-usuario" style="text-align: center; height:100%; width: 100%;">@usuario.Nombre</p>
                            </div>
                        }
                    </div>
                    </div>
                </nav>
            }

            @* // Contenedor principal del cuerpo de la página *@
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @* // Scripts de la página *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        // Manejador de evento de clic para mostrar/ocultar el menú desplegable
        document.getElementById('dropdownMenuButton').addEventListener('click', function () {
            var dropdown = document.getElementById('userDropdown');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            } else {
                dropdown.style.display = 'block';
            }
        });
    </script>

    @* // Carga de scripts adicionales *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

@* // Footer de la página *@
<footer class="footer mt-auto py-3 bg-dark text-white" style="background-color:black!important;">
    <div class="container">
        <div class="row">
            @* // Sección de contacto en el footer *@
            <div class="col-md-4 mb-3">
                <h5>Contáctanos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Sobre Nosotros</a></li>
                    <li><a href="#" class="text-white">Soporte</a></li>
                    <li><a href="#" class="text-white">Política de Privacidad</a></li>
                </ul>
            </div>

            @* // Sección de redes sociales en el footer *@
            <div class="col-md-4 mb-3">
                <h5>Síguenos</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com" class="text-white">Facebook</a></li>
                    <li><a href="https://www.twitter.com" class="text-white">Twitter</a></li>
                    <li><a href="https://www.instagram.com" class="text-white">Instagram</a></li>
                </ul>
            </div>

            @* // Sección de suscripción en el footer *@
            <div class="col-md-4 mb-3">
                <h5>Suscríbete</h5>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email address">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Suscribir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @* // Sección de derechos de autor en el footer *@
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</html>




